@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
header {
  display: flex;
  justify-content: center;
  width: 100%; }
  header .nav-estilos {
    background: rgba(44, 62, 80, 0.5);
    color: white;
    height: 50px; }
    header .nav-estilos a {
      color: white; }
    header .nav-estilos a:hover {
      background: rgba(44, 62, 80, 0.8); }

body {
  display: flex;
  flex-direction: column;
  background: gray;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 850px;
  width: 100%; }
  body .container {
    display: flex;
    color: white;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 650px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: none;
    margin-right: none; }
    body .container .logo {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 600px;
      width: 100%;
      background-image: url(../../images/tower.jpg);
      background-size: 600px 400px;
      background-position-x: center;
      color: black; }
      body .container .logo img {
        width: 200px;
        height: 150px; }
      body .container .logo .texto1 {
        color: white;
        justify-content: center;
        width: 50%;
        margin-top: 60px; }
      body .container .logo .logo1 {
        position: absolute;
        bottom: 350px; }
    body .container span {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center; }
      body .container span img {
        width: 200px;
        height: 150px; }
  body .texto2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    width: 100%;
    height: 500px;
    background-image: url(../../images/flotante2.jpg);
    background-size: 600px 400px;
    background-position-x: center;
    padding-bottom: 150px; }
    body .texto2 p {
      max-width: 530px;
      color: white;
      background: rgba(44, 62, 80, 0.3); }

@media screen and (min-width: 768px) {
  body {
    height: 1200px; }
    body .container .logo {
      background-size: 800px 600px;
      height: 600px; }
      body .container .logo .logo1 {
        bottom: 195px; }
    body .texto2 {
      background-size: 800px 600px;
      height: 600px; } }
footer {
  display: flex;
  height: 150px;
  width: 100%;
  justify-content: center;
  flex-direction: column; }
  footer .info {
    display: flex;
    background: #2c3e50;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 200px; }
    footer .info .icons {
      display: flex;
      flex-direction: row;
      font-size: 30px;
      justify-content: center; }
      footer .info .icons a {
        padding-left: 10px;
        padding-right: 10px;
        color: white; }
  footer .data {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-around; }

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

/*# sourceMappingURL=main.css.map */
